.navbar {
    width: 100%;
    position: fixed;
    top: 26px;
}

.content {
    width: 96%;
    min-height: 57px;
    margin: auto;
    padding: 4px 40px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-radius: 14px;
    color: #dbdbdb79
}

/* @media only screen and (max-width: 650px) {
    .content {
        display: block;
        text-align: center;
    }
} */